@import url(./root.css);

/* <--------------------------------------------------------------- trasnitions -------------------------------------------------------------------->*/
.footer_link {
    transition: all 300ms linear;
}

/* <--------------------------------------------------------------- Spacing -------------------------------------------------------------------->*/

.gap_32px {
    gap: 32px;
}

.pb_7px {
    padding-bottom: 7px;
}

.my_52px {
    margin-top: 52px;
    margin-bottom: 52px;
}

.my_our_serv {
    margin-top: 152px;
    margin-bottom: 152px;
}

.mt_20px {
    margin-top: 20px;
}

.py_footer {
    padding-top: 91px;
    padding-bottom: 153px;
}

.py_122px {
    padding-top: 122px;
    padding-bottom: 122px;
}

.py_82px {
    padding-top: 82px;
    padding-bottom: 82px;
}

.mt_52px {
    margin-top: 52px;
}

.mb_42px {
    margin-bottom: 42px;
}

.py_company {
    padding-top: 109px;
    padding-bottom: 122px;
}

.my_152px {
    margin-top: 152px;
    margin-bottom: 152px;
}

.mb_152px {
    margin-bottom: 152px;
}

.mt_12px {
    margin-top: 12px;
}

.my_12px {
    margin-top: 12px;
    margin-bottom: 12px;
}

.p_12px {
    padding: 12px;
}

.pe_32px {
    padding-right: 32px;
}

.mb_9px {
    margin-bottom: 9px;
}

.mt_9px {
    margin-top: 9px;
}

.px_42px {
    padding-left: 42px;
    padding-right: 42px;
}

.py_17px {
    padding-top: 17px;
    padding-bottom: 17px;
}

.mt_44px {
    margin-top: 44px;
}

.mb_67px {
    margin-bottom: 67px;
}

.mt_45px {
    margin-top: 45px;
}

.px_32px {
    padding-left: 32px;
    padding-right: 32px;
}

.py_22px {
    padding-top: 22px;
    padding-bottom: 22px;
}

.gap_12px {
    gap: 12px;
}

.py_our_msn {
    padding-top: 124px;
    padding-bottom: 152px;
}

/* <--------------------------------------------------------------- borders -------------------------------------------------------------------->*/

/* .border_left {
    border-left: 1px solid;
    border-image-source: linear-gradient(270deg, rgba(253, 252, 252, 0) 0%, #FDFCFC 51.55%, rgba(253, 252, 252, 0) 100%);
    border-image-slice: 1;
    border-image-width: 1px;
} */
.brdr_left {
    position: absolute;
    width: 2px;
    height: 81px;
    background: var(--box-line-clr);
    right: 0;
}

.border_rad_16px {
    border-radius: 16px;
}

.vision_box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: var(--nav_link);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.rounded_61px {
    border-radius: 61px;
}

/* <--------------------------------------------------------------- Positions -------------------------------------------------------------------->*/

.nav_link {
    position: relative;
}

.why_choose_right_ellipse_pos {
    top: -25%;
    right: 0;
}

.center_ellipse_pos {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vision_box {
    position: relative;
}

.msn_sec_ellipse {
    top: -220px;
    right: 0;
}

.hero_right_ellipse_pos {
    right: 0;
    top: -60px;
}

.our_vsn_ellipse_1 {
    right: 0;
    bottom: 0;
}

.our_vsn_ellipse_2 {
    left: 0;
    bottom: 0;
}

.why_choose_us_ellipse_1 {
    left: 0;
    bottom: -35%;
}

.company_ellipse_1 {
    right: 0;
    top: 0;
}

.company_ellipse_2 {
    left: 0;
    bottom: 0;
}

.center_pos {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ellipse_hero_pos {
    top: 0;
    left: 0;
}

.top_left_ring {
    top: -40px;
    left: -40px;
}

.bottom_right_img {
    bottom: -40px;
    right: -40px;
}

.ellipse_service_pos {
    bottom: 0;
    left: 0;
}

.ellipse_service_pos_2 {
    top: 0;
    right: 0;
}

/* <--------------------------------------------------------------- Before & After -------------------------------------------------------------------->*/

.nav_link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    /* border-radius: ; */
    background: var(--nav_link);
    transition: all 300ms linear;
}

/* <--------------------------------------------------------------- btn changes -------------------------------------------------------------------->*/

.contact_btn {
    border-radius: 61px;
    background: var(--nav_link);
    border: 1px solid transparent;
    transition: all 300ms linear;
}

.start_btn {
    border-radius: 61px;
    border: 1px solid transparent;
    background: var(--color-white);
    transition: all 300ms linear
}

.start {
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 300ms linear;
}

.start_btn:hover {
    background: var(--nav_link);
    box-shadow: 0px 0px 50px -3px rgba(0, 0, 0, 0.1);
}

.start:hover {
    -webkit-text-fill-color: var(--color-white);
}

/* <--------------------------------------------------------------- Hover Efects -------------------------------------------------------------------->*/

.nav_link:hover::after {
    width: 100%;
    bottom: -5px;
}

.footer_link:hover {
    opacity: 1 !important;
}

.choose_box:hover {
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.12);
}

.service_box:hover .service_svg_icon path {
    fill: var(--color-white) !important;
}

.service_box:hover .svg_service_box {
    background: var(--nav_link);
}

.nav_link:hover {
    color: var(--black-color);
}

.service_box:hover {
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
}

.contact_btn:hover {
    background: transparent;
    border: 1px solid transparent;
    box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.15);
    color: var(--black-color) !important;
    transition: all 300ms linear;
}

/* <--------------------------------------------------------------- wdith height changes-------------------------------------------------------------------->*/

.hero_heading {
    max-width: 948px;
    min-height: 140px;
}

.company_text_max_w {
    max-width: 475px;
    min-height: 159px;
}

.blue_line {
    width: 100%;
    height: 1px;
    background: var(--nav_link);
}

.svg_footer_cont {
    width: 120px;
    height: 32px;
    border-radius: 57px;
}

.svg_footer_box {
    width: 32px;
    height: 32px;
    padding: 6.65px 7px 7.35px 7px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.16);
}

.footer_title {
    width: 271.46px;
    height: 46.19px;
}

.sub_max_W {
    max-width: 792px;
    min-height: 215px;
}

.title_box {
    width: 91px;
    height: 53.77px;
}

.first_sec {
    max-width: 397.88px;
    min-height: 54.26px;
}

.choose_box {
    max-width: 558px;
    min-height: 112px;
    padding: 12px;
    border-radius: 16px;
    border: 0.5px;
    border: 0.5px solid rgba(0, 0, 0, 0.24)
}

.svg_service_box {
    width: 72px;
    height: 72px;
    padding: 14.82px;
    border-radius: 50%;
    background: var(--service-svg-color);
    transition: all 300ms linear;
}

.service_box {
    max-width: 364px;
    min-height: 270px;
    padding: 20px 20px 44px 20px;
    border-radius: 16px;
    border: 0.5px;
    background: #EFEFEF;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    transition: all 300ms linear;
}

.max_w_md {
    max-width: 536px;
}

.svg_box {
    width: 32px !important;
    height: 32px !important;
    padding: 8px;
    background: var(--our-vision);
    border-radius: 50%;
}

.w_88px {
    width: 88px;
}

.max_w_lorem {
    max-width: 829px;
    min-height: 48px;
}

.box {
    position: absolute;
    max-width: 997px;
    min-height: 110px;
    /* padding: 12px 0px 0px 0px; */
    border-radius: 12px;
    background: var(--box_color);
    backdrop-filter: blur(20px);
    bottom: 52px;
}

.max_w_box_text {
    max-width: 119.71px;
    min-height: 52px;
}

.max_w_msn_sec {
    max-width: 536px;
    min-height: 168px;
}

/* <--------------------------------------------------------------- backColors backImages and text liear gradient text_color -------------------------------------------------------------------->*/

.text_lg {
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer_back_clr {
    background-color: var(--black-color);
    backdrop-filter: blur(20px);
}

.wait_back_hero {
    background-image: url(../images/png/wait_sec.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.service_back {
    background-image: url(../images/png/service_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.company_back {
    background-image: url(../images/png/companies_back_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img_box {
    box-shadow: 0px 0px 100px 0px rgba(45, 202, 63, 0.1);
}

.nav_link_color {
    background: var(--nav_link);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.change_fill path {
    fill: url(#paint1_linear_40432_2511);
}

/* <--------------------------------------------------------------- z-indexes -------------------------------------------------------------------->*/
.z-50 {
    z-index: 50;
}

.-z-1 {
    z-index: -1;
}

.z-60 {
    z-index: 60;
}

.z-100 {
    z-index: 100;
}

.z-61 {
    z-index: 61;
}

.z-59 {
    z-index: 59;
}

/* <--------------------------------------------------------------- Keyframes -------------------------------------------------------------------->*/
.svg_effect:hover svg {
    animation: svg_animation 1s 1;
}

.svg_effect:hover {
    animation: color_svg 1s 1;
    background-color: var(--color-white);
    transition: all 2000ms linear;
}

.svg_effect_inst:hover svg path {
    animation: inst_anim 1s 1;
}

@keyframes inst_anim {
    to {
        transform: rotate(360deg);
    }
}

@keyframes color_svg {
    to {
        background-position: 20vw;
    }
}

@keyframes svg_animation {
    to {
        transform: rotateY(360deg);
    }
}

/* <--------------------------------------------------------------- animated menuicon -------------------------------------------------------------------->*/


.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 6;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham3 .top {
    stroke-dasharray: 40 130;
}

.ham3 .middle {
    stroke-dasharray: 40 140;
}

.ham3 .bottom {
    stroke-dasharray: 40 205;
}

.ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}

.ham3.active .middle {
    stroke-dashoffset: -102px;
}

.ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}


/* <----------------------------------------------------------- scroll to top ----------------------------------------------------------------> */

.scroll_top,
.scroll_box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: all 300ms linear;
}

.scroll_top {
    bottom: 20px;
    right: 20px;
}

.scroll_box img {
    transform: rotate(180deg);
}

.scroll_box:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 50px -3px #9362EE;
}

/* <----------------------------------------------------------- Progress ----------------------------------------------------------------> */


.headers {
    position: fixed;
    top: 0;
    z-index: 59;
    width: 100%;
    background-color: var(--color-white);
}

.progress-container {
    width: 100%;
    height: 8px;
    background: var(--color-white);
    opacity: 50%;
}

.progress-bar {
    height: 8px;
    background: var(--nav_link);
    width: 0%;
}


/* <----------------------------------------------------------- Pre Loader ----------------------------------------------------------------> */

.top_0 {
    top: 0;
}

.preloader {
    background-image: url(../images/png/herosec_back_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 300ms linear;
}

:root {
    --bg: #e3e4e8;
    --fg: #17181c;
    --dur: 8s;
}

.-top-105 {
    top: -105%;
}

.hexagon {
    margin-bottom: 1.5em;
    overflow: hidden;
    position: relative;
    width: 15em;
    height: 15em;
}

.hexagon__group,
.hexagon__sector,
.hexagon__sector:before,
.hexagon__sector:after {
    position: absolute;
}

.hexagon__group {
    width: 100%;
    height: 100%;
}

.hexagon__group:nth-child(2) .hexagon__sector,
.hexagon__group:nth-child(2) .hexagon__sector:before,
.hexagon__group:nth-child(2) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -1/6);
}

.hexagon__group:nth-child(3) .hexagon__sector,
.hexagon__group:nth-child(3) .hexagon__sector:before,
.hexagon__group:nth-child(3) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -2/6);
}

.hexagon__group:nth-child(4) .hexagon__sector,
.hexagon__group:nth-child(4) .hexagon__sector:before,
.hexagon__group:nth-child(4) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -3/6);
}

.hexagon__group:nth-child(5) .hexagon__sector,
.hexagon__group:nth-child(5) .hexagon__sector:before,
.hexagon__group:nth-child(5) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -4/6);
}

.hexagon__group:nth-child(6) .hexagon__sector,
.hexagon__group:nth-child(6) .hexagon__sector:before,
.hexagon__group:nth-child(6) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -5/6);
}

.hexagon__group:nth-child(odd) {
    transform: rotate(30deg);
}

.hexagon__sector,
.hexagon__sector:before,
.hexagon__sector:after {
    animation-duration: var(--dur);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*animation-play-state: paused;*/
    width: 0.2em;
    height: 0.2em;
}

.hexagon__sector {
    animation-name: moveOut1;
    top: calc(50% - 0.1em);
    left: calc(50% - 0.1em);
}

.hexagon__sector:nth-child(2) {
    animation-name: moveOut2;
}

.hexagon__sector:nth-child(3) {
    animation-name: moveOut3;
}

.hexagon__sector:nth-child(4) {
    animation-name: moveOut4;
}

.hexagon__sector:nth-child(5) {
    animation-name: moveOut5;
}

.hexagon__sector:nth-child(6) {
    animation-name: moveOut6;
}

.hexagon__sector:before,
.hexagon__sector:after {
    animation-name: ripple;
    background-color: currentColor;
    border-radius: 0.1em;
    content: "";
    display: block;
    top: 0;
    left: 0;
    transform-origin: 0.1em 0.1em;
}

.hexagon__sector:before {
    transform: rotate(-30deg)
}

.hexagon__sector:after {
    transform: rotate(-150deg)
}

/* Animations */
@keyframes moveOut1 {
    from {
        transform: translateY(0) scale(0);
    }

    3% {
        transform: translateY(0.2em) scale(1);
    }

    97% {
        transform: translateY(7.3em) scale(1);
    }

    to {
        transform: translateY(7.5em) scale(0);
    }
}

@keyframes moveOut2 {
    from {
        transform: rotate(60deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(60deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(60deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(60deg) translateY(7.5em) scale(0);
    }
}

@keyframes moveOut3 {
    from {
        transform: rotate(120deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(120deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(120deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(120deg) translateY(7.5em) scale(0);
    }
}

@keyframes moveOut4 {
    from {
        transform: rotate(180deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(180deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(180deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(180deg) translateY(7.5em) scale(0);
    }
}

@keyframes moveOut5 {
    from {
        transform: rotate(240deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(240deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(240deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(240deg) translateY(7.5em) scale(0);
    }
}

@keyframes moveOut6 {
    from {
        transform: rotate(300deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(300deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(300deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(300deg) translateY(7.5em) scale(0);
    }
}

@keyframes ripple {

    from,
    to {
        width: 0.2em;
    }

    33% {
        width: 2.4em;
    }
}

.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background: linear-gradient(90deg, #000 50%, #0000 0) right/200% 100%;
    animation: l21 2s infinite linear;
}

.loader::before {
    content: "Loading...";
    color: #0000;
    padding: 0 5px;
    background: inherit;
    background-image: linear-gradient(90deg, #fff 50%, #000 0);
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes l21 {
    100% {
        background-position: left
    }
}