@import url(./root.css);

/* <---------------------------------------------------------------Normal Css -------------------------------------------------------------------->*/

.title_box {
    width: 91px;
    height: 53.77px;
}

/* <--------------------------------------------------------------- Spacing -------------------------------------------------------------------->*/

.gap_32px {
    gap: 32px;
}

.my_52px {
    margin-top: 52px;
    margin-bottom: 52px;
}

.mt_20px {
    margin-top: 20px;
}

.py_122px {
    padding-top: 122px;
    padding-bottom: 122px;
}

.mt_52px {
    margin-top: 52px;
}

.mb_42px {
    margin-bottom: 42px;
}

.py_company {
    padding-top: 109px;
    padding-bottom: 122px;
}

.my_152px {
    margin-top: 152px;
    margin-bottom: 152px;
}

.mb_152px {
    margin-bottom: 152px;
}

.mt_12px {
    margin-top: 12px;
}

.my_12px {
    margin-top: 12px;
    margin-bottom: 12px;
}

.p_12px {
    padding: 12px;
}

.pe_32px {
    padding-right: 32px;
}

.mb_9px {
    margin-bottom: 9px;
}

.mt_9px {
    margin-top: 9px;
}

.px_42px {
    padding-left: 42px;
    padding-right: 42px;
}

.py_17px {
    padding-top: 17px;
    padding-bottom: 17px;
}

.mt_44px {
    margin-top: 44px;
}

.mb_67px {
    margin-bottom: 67px;
}

.mt_45px {
    margin-top: 45px;
}

.px_32px {
    padding-left: 32px;
    padding-right: 32px;
}

.py_22px {
    padding-top: 22px;
    padding-bottom: 22px;
}

.gap_12px {
    gap: 12px;
}

.py_our_msn {
    padding-top: 124px;
    padding-bottom: 152px;
}

/* <--------------------------------------------------------------- borders -------------------------------------------------------------------->*/

/* .border_left {
    border-left: 1px solid;
    border-image-source: linear-gradient(270deg, rgba(253, 252, 252, 0) 0%, #FDFCFC 51.55%, rgba(253, 252, 252, 0) 100%);
    border-image-slice: 1;
    border-image-width: 1px;
} */
.brdr_left {
    position: absolute;
    width: 2px;
    height: 81px;
    background: var(--box-line-clr);
    right: 0;
}

.vision_box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: var(--nav_link);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

/* <--------------------------------------------------------------- Positions -------------------------------------------------------------------->*/

.nav_link {
    position: relative;
}

.vision_box {
    position: relative;
}

.center_pos {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ellipse_hero_pos {
    top: 0;
    left: 0;
}

.top_left_ring {
    top: -40px;
    left: -40px;
}

.bottom_right_img {
    bottom: -40px;
    right: -40px;
}

.ellipse_service_pos {
    bottom: 0;
    left: 0;
}

.ellipse_service_pos_2 {
    top: 0;
    right: 0;
}

/* <--------------------------------------------------------------- Before & After -------------------------------------------------------------------->*/

.nav_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    /* border-radius: ; */
    background: var(--nav_link);
    transition: all 300ms linear;
}

/* <--------------------------------------------------------------- btn changes -------------------------------------------------------------------->*/

.contact_btn {
    border-radius: 61px;
    background: var(--nav_link);
    border: 1px solid transparent;
    transition: all 300ms linear;
}

/* <--------------------------------------------------------------- Hover Efects -------------------------------------------------------------------->*/

.nav_link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: var(--nav_link);
}

.choose_box:hover {
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.12);
}

.service_box:hover .service_svg_icon path {
    fill: var(--color-white) !important;
}

.service_box:hover .svg_service_box {
    background: var(--nav_link);
}

.nav_link:hover {
    color: var(--black-color);
}

.service_box:hover {
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
}

.contact_btn:hover {
    background: transparent;
    border: 1px solid var(--white-color);
    box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.15);
    color: var(--black-color) !important;
}

/* <--------------------------------------------------------------- wdith height changes-------------------------------------------------------------------->*/

.hero_heading {
    max-width: 948px;
    min-height: 140px;
}

.first_sec {
    max-width: 397.88px;
    min-height: 54.26px;
}

.choose_box {
    max-width: 558px;
    min-height: 112px;
    padding: 12px;
    border-radius: 16px;
    border: 0.5px;
    border: 0.5px solid rgba(0, 0, 0, 0.24)
}

.svg_service_box {
    width: 72px;
    height: 72px;
    padding: 14.82px;
    border-radius: 50%;
    background: var(--service-svg-color);
    transition: all 300ms linear;
}

.service_box {
    max-width: 364px;
    min-height: 270px;
    padding: 20px 20px 44px 20px;
    border-radius: 16px;
    border: 0.5px;
    background: #EFEFEF;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    transition: all 300ms linear;
}

.max_w_md {
    max-width: 536px;
}

.svg_box {
    width: 32px !important;
    height: 32px !important;
    padding: 8px;
    background: var(--our-vision);
    border-radius: 50%;
}

.w_88px {
    width: 88px;
}

.max_w_lorem {
    max-width: 829px;
    min-height: 48px;
}

.box {
    position: absolute;
    max-width: 997px;
    min-height: 110px;
    /* padding: 12px 0px 0px 0px; */
    border-radius: 12px;
    background: var(--box_color);
    backdrop-filter: blur(20px);
    bottom: 52px;
}

.max_w_box_text {
    max-width: 119.71px;
    min-height: 52px;
}

.max_w_msn_sec {
    max-width: 536px;
    min-height: 168px;
}

/* <--------------------------------------------------------------- backColors backImages and text liear gradient text_color -------------------------------------------------------------------->*/

.text_lg {
    background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service_back {
    background-image: url(../images/png/service_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.company_back {
    background-image: url(../images/png/companies_back_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img_box {
    box-shadow: 0px 0px 100px 0px rgba(45, 202, 63, 0.1);
}

.nav_link_color {
    background: var(--nav_link);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.change_fill path {
    fill: url(#paint1_linear_40432_2511);
}

/* <--------------------------------------------------------------- animated menuicon -------------------------------------------------------------------->*/
.z-60 {
    z-index: 60;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 6;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham3 .top {
    stroke-dasharray: 40 130;
}

.ham3 .middle {
    stroke-dasharray: 40 140;
}

.ham3 .bottom {
    stroke-dasharray: 40 205;
}

.ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}

.ham3.active .middle {
    stroke-dashoffset: -102px;
}

.ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}